<div class="table-responsive">
    <table class="table no-margin">
        <thead>
        <th>Server</th>
        <th>Battlereport</th>
        </thead>
        <tbody>
        <tr ng-repeat="(key, battlereport) in results.latest_battlereports track by (battlereport.ServerName + '-' + battlereport.battlereport_url)">
            <td ng-bind="battlereport.ServerName | limitTo: 30"></td>
            <td>
                <a ng-href="{{battlereport.battlereport_url}}" target="_blank">{{battlereport.battlereport_url}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
